<div class="row">
  <div class="col-md-2">
    <h3>Login Page</h3>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" name="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" name="password">
      </div>

      <div *ngIf=""></div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-light">Sign In

      </button>
    </form>


    <button (click)="navigateToParent()">Parent</button>

  </div>
  <!-- <button (click)="navigateToView()">VIew</button> -->

  <div class="col-md-8">
    <app-message-list>
      <!-- This is the projected content for app message app-message-list -->
      <app-message [message]="title"></app-message>
      <app-message #tempMessage [message]="title"></app-message>
      <app-message [message]="title"></app-message>
      <app-message [message]="title"></app-message>
      <app-message [message]="title"></app-message>


    </app-message-list>
  </div>

</div>


<!-- <form [formGroup]="formGroup" id="formId" [attr.style]="'width: 25rem;'">
  <p #paragraphElement>{ title }</p>
  <ceres-text-field id="defaultField1" formControlName="textField" label="Name" placeholder="Enter name">
  </ceres-text-field>
  <ceres-text-area label="Description" id="textArea" formControlName="textArea" placeholder="Enter description"
    [autosize]="true" resizable minRows="3" maxRows="6">
  </ceres-text-area>
  <ceres-text-field id="defaultField2" formControlName="textField" label="Name 2" placeholder="Enter name">
  </ceres-text-field>
  <ceres-button link click="submit($event)" class="ceres-button--primary" label="Submit"></ceres-button>
</form> -->
